.td {
    padding: 10px 15px 5px 35px;
}

table {
    border-spacing: 10px;
}

.box {
    border: 2px solid #AFDCEC;
    line-height: 17px;
    padding: 3px 0px 5px 0px;
  }

#input {
    width: 165px;
}

button {
    width: 110px;
    height: 40px;
    margin-top: 10px;
    background-color: #AFDCEC;
    font-size: 14px;
    color: white;
    border: 3px solid #AFDCEC;
    border-radius: 8px;
    margin-left: 150px;
    text-align: center;
}

.result {
    display: flex;
    text-align: left;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 15px;
    justify-content: space-between;
}

.btn_add {
    width: 70px;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-right: 45px;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #AFDCEC;
    border: 3px solid #AFDCEC;
    border-radius: 8px;
    text-decoration: none;
    
}

.list_student {
    margin-top: 5px;
}

td {
    text-align: left;
    padding: 3px;
}

th {
    font-weight: normal;
    text-align: left;
    padding: 3px;
}

.action {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #AFDCEC;
    border: 2px solid #AFDCEC;
    text-decoration: none;
    margin-right: 8px;
}




  
  
  


  
  
  
  